<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User page</title>
</head>
<body>
<h1>User info</h1>
<hr/>
<h1 th:text="'Username: ' + ${user.get().username}"></h1>
<br/>
<h1 th:text="${user.get().name} + ' ' + ${user.get().surname}"></h1>
<br/>
<h1 th:text="'Age: ' + ${user.get().age}"></h1>
<br/>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Exit">
</form>
</body>
</html>